In [1]:
import pandas as pd

In [2]:
!unzip /content/archive.zip

Archive:  /content/archive.zip
  inflating: email_classification.csv

In [7]:
df = pd.read_csv("/content/BankChurners.csv")
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [15]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [17]:
df.head(50)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.999940
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.999910
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,0.000045,0.999960
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,0.000303,0.999700
10,708790833,Existing Customer,42,M,5,Uneducated,Unknown,$120K +,Blue,31,...,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217,0.000191,0.999810
11,710821833,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,0.000198,0.999800
12,710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,...,11751.0,0,11751.0,3.397,1539,17,3.250,0.000,0.000048,0.999950
13,816082233,Existing Customer,35,M,3,Graduate,Unknown,$60K - $80K,Blue,30,...,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195,0.000096,0.999900
14,712396908,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.999890
15,714885258,Existing Customer,44,M,4,Unknown,Unknown,$80K - $120K,Blue,37,...,4234.0,972,3262.0,1.707,1348,27,1.700,0.230,0.000063,0.999940
16,709967358,Existing Customer,48,M,4,Post-Graduate,Single,$80K - $120K,Blue,36,...,30367.0,2362,28005.0,1.708,1671,27,0.929,0.078,0.000236,0.999760
17,753327333,Existing Customer,41,M,3,Unknown,Married,$80K - $120K,Blue,34,...,13535.0,1291,12244.0,0.653,1028,21,1.625,0.095,0.000150,0.999850
18,806160108,Existing Customer,61,M,1,High School,Married,$40K - $60K,Blue,56,...,3193.0,2517,676.0,1.831,1336,30,1.143,0.788,0.000175,0.999830
19,709327383,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,0.000055,0.999940
20,806165208,Existing Customer,47,M,1,Doctorate,Divorced,$60K - $80K,Blue,42,...,20979.0,1800,19179.0,0.906,1178,27,0.929,0.086,0.000057,0.999940
21,708508758,Attrited Customer,62,F,0,Graduate,Married,Less than $40K,Blue,49,...,1438.3,0,1438.3,1.047,692,16,0.600,0.000,0.996160,0.003836
22,784725333,Existing Customer,41,M,3,High School,Married,$40K - $60K,Blue,33,...,4470.0,680,3790.0,1.608,931,18,1.571,0.152,0.000069,0.999930
23,811604133,Existing Customer,47,F,4,Unknown,Single,Less than $40K,Blue,36,...,2492.0,1560,932.0,0.573,1126,23,0.353,0.626,0.000207,0.999790
24,789124683,Existing Customer,54,M,2,Unknown,Married,$80K - $120K,Blue,42,...,12217.0,0,12217.0,1.075,1110,21,0.750,0.000,0.000210,0.999790
25,771071958,Existing Customer,41,F,3,Graduate,Single,Less than $40K,Blue,28,...,7768.0,1669,6099.0,0.797,1051,22,0.833,0.215,0.000057,0.999940
26,720466383,Existing Customer,59,M,1,High School,Unknown,$40K - $60K,Blue,46,...,14784.0,1374,13410.0,0.921,1197,23,1.300,0.093,0.000050,0.999950
27,804424383,Existing Customer,63,M,1,Unknown,Married,$60K - $80K,Blue,56,...,10215.0,1010,9205.0,0.843,1904,40,1.000,0.099,0.000186,0.999810
28,718813833,Existing Customer,44,F,3,Uneducated,Single,Unknown,Blue,34,...,10100.0,0,10100.0,0.525,1052,18,1.571,0.000,0.000121,0.999880
29,806624208,Existing Customer,47,M,4,High School,Married,$40K - $60K,Blue,42,...,4785.0,1362,3423.0,0.739,1045,38,0.900,0.285,0.000008,0.999990
30,778348233,Existing Customer,53,M,3,Unknown,Married,$80K - $120K,Blue,33,...,2753.0,1811,942.0,0.977,1038,25,2.571,0.658,0.000218,0.999780
31,712991808,Existing Customer,53,M,2,Uneducated,Married,$60K - $80K,Blue,48,...,2451.0,1690,761.0,1.323,1596,26,1.600,0.690,0.000125,0.999880
32,709029408,Existing Customer,41,M,4,Graduate,Married,$60K - $80K,Blue,36,...,8923.0,2517,6406.0,1.726,1589,24,1.667,0.282,0.000058,0.999940
33,788658483,Existing Customer,53,F,2,College,Married,Less than $40K,Blue,38,...,2650.0,1490,1160.0,1.750,1411,28,1.000,0.562,0.000186,0.999810
34,787937058,Existing Customer,58,M,0,Graduate,Married,$80K - $120K,Blue,49,...,12555.0,1696,10859.0,0.519,1291,24,0.714,0.135,0.000098,0.999900
35,715318008,Existing Customer,55,F,1,College,Single,Less than $40K,Blue,36,...,3520.0,1914,1606.0,0.510,1407,43,0.483,0.544,0.000063,0.999940
36,713962233,Existing Customer,55,F,3,Graduate,Married,Less than $40K,Blue,36,...,3035.0,2298,737.0,1.724,1877,37,1.176,0.757,0.000199,0.999800
37,785432733,Existing Customer,42,F,4,High School,Married,Less than $40K,Gold,36,...,15433.0,0,15433.0,0.865,966,22,1.200,0.000,0.000355,0.999640
38,715190283,Existing Customer,57,F,1,Graduate,Unknown,$40K - $60K,Blue,49,...,3672.0,886,2786.0,1.320,1464,28,0.556,0.241,0.000169,0.999830
39,708300483,Attrited Customer,66,F,0,Doctorate,Married,Unknown,Blue,56,...,7882.0,605,7277.0,1.052,704,16,0.143,0.077,0.997800,0.002197
40,827111283,Existing Customer,45,M,3,Graduate,Single,$80K - $120K,Blue,41,...,32426.0,578,31848.0,1.042,1109,28,0.474,0.018,0.000118,0.999880
41,758551608,Existing Customer,51,M,2,Unknown,Married,$40K - $60K,Blue,44,...,6205.0,2204,4001.0,0.803,1347,28,0.556,0.355,0.000022,0.999980
42,773146383,Existing Customer,50,F,1,College,Single,$40K - $60K,Silver,43,...,17304.0,2517,14787.0,1.449,1756,33,1.200,0.145,0.000158,0.999840
43,778493808,Existing Customer,49,M,3,High School,Married,$60K - $80K,Blue,37,...,3906.0,0,3906.0,1.214,1756,32,1.000,0.000,0.000069,0.999930
44,720572508,Existing Customer,38,F,4,Graduate,Single,Unknown,Blue,28,...,9830.0,2055,7775.0,0.977,1042,23,0.917,0.209,0.000317,0.999680
45,712661433,Existing Customer,49,M,4,Uneducated,Single,$80K - $120K,Blue,30,...,34516.0,0,34516.0,1.621,1444,28,1.333,0.000,0.000206,0.999790
46,789172683,Existing Customer,56,M,2,Doctorate,Married,$60K - $80K,Blue,45,...,2283.0,1430,853.0,2.316,1741,27,0.588,0.626,0.000061,0.999940
47,738406533,Existing Customer,59,M,1,Doctorate,Married,$40K - $60K,Blue,52,...,2548.0,2020,528.0,2.357,1719,27,1.700,0.793,0.000155,0.999850
48,799723908,Existing Customer,46,M,3,High School,Married,$80K - $120K,Blue,40,...,19458.0,1435,18023.0,0.787,1217,27,0.800,0.074,0.000305,0.999690
49,771490833,Existing Customer,52,M,1,College,Single,$80K - $120K,Blue,40,...,4745.0,1227,3518.0,0.624,1140,40,0.600,0.259,0.000030,0.999970

In [16]:
df.tail()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [18]:
df.tail(50)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10077,714725883,Existing Customer,41,F,4,Graduate,Divorced,$40K - $60K,Blue,36,...,5654.0,2470,3184.0,0.637,15123,111,0.881,0.437,0.000021,0.999980
10078,709398708,Existing Customer,40,M,3,High School,Divorced,$60K - $80K,Blue,36,...,16268.0,2517,13751.0,0.652,15925,124,0.824,0.155,0.000056,0.999940
10079,715090008,Existing Customer,45,M,4,Graduate,Single,$60K - $80K,Silver,36,...,28564.0,2517,26047.0,0.711,14875,107,0.783,0.088,0.000489,0.999510
10080,709159308,Existing Customer,42,F,4,High School,Single,Less than $40K,Blue,30,...,6172.0,1212,4960.0,0.723,16622,99,0.650,0.196,0.000094,0.999910
10081,711348033,Existing Customer,50,M,2,Graduate,Married,$40K - $60K,Blue,40,...,5435.0,1243,4192.0,0.749,16202,117,0.671,0.229,0.000180,0.999820
10082,788230158,Existing Customer,29,M,1,Unknown,Married,$40K - $60K,Silver,20,...,16496.0,1409,15087.0,0.677,16715,126,0.703,0.085,0.000051,0.999950
10083,718170033,Existing Customer,42,F,4,Uneducated,Married,Unknown,Blue,23,...,8348.0,0,8348.0,0.695,15905,111,0.708,0.000,0.000059,0.999940
10084,718161708,Existing Customer,46,F,4,Graduate,Married,Less than $40K,Blue,34,...,7562.0,1500,6062.0,0.632,14908,100,0.754,0.198,0.000058,0.999940
10085,717714633,Existing Customer,49,M,3,Uneducated,Married,$120K +,Gold,38,...,14938.0,0,14938.0,0.737,15277,131,0.724,0.000,0.000634,0.999370
10086,824150733,Existing Customer,43,M,2,High School,Married,$80K - $120K,Silver,39,...,34516.0,1987,32529.0,0.673,16177,122,0.848,0.058,0.000081,0.999920
10087,713768358,Existing Customer,45,M,4,Graduate,Single,$40K - $60K,Blue,35,...,7935.0,888,7047.0,0.779,15380,122,0.694,0.112,0.000119,0.999880
10088,709188108,Existing Customer,45,M,2,Graduate,Single,$60K - $80K,Silver,33,...,34516.0,1529,32987.0,0.609,13940,105,0.810,0.044,0.000103,0.999900
10089,720328983,Attrited Customer,52,F,5,Unknown,Married,Less than $40K,Blue,36,...,9611.0,0,9611.0,0.840,7636,64,0.829,0.000,0.997100,0.002904
10090,712296408,Existing Customer,36,F,3,Unknown,Married,$40K - $60K,Blue,22,...,12958.0,2273,10685.0,0.608,15681,96,0.627,0.175,0.000345,0.999650
10091,719106783,Existing Customer,52,M,1,High School,Single,$80K - $120K,Blue,41,...,4103.0,1972,2131.0,0.665,16344,118,0.788,0.481,0.000144,0.999860
10092,713437008,Attrited Customer,40,F,3,Graduate,Married,Unknown,Blue,25,...,6888.0,1878,5010.0,1.059,9038,64,0.829,0.273,0.994990,0.005010
10093,719574033,Existing Customer,38,M,1,High School,Single,$60K - $80K,Blue,28,...,21906.0,0,21906.0,0.696,15349,119,0.700,0.000,0.000104,0.999900
10094,716123283,Existing Customer,59,M,1,Unknown,Single,$60K - $80K,Blue,48,...,7288.0,0,7288.0,0.640,14873,120,0.714,0.000,0.000057,0.999940
10095,789023508,Existing Customer,46,M,3,Unknown,Married,$80K - $120K,Blue,33,...,34516.0,1099,33417.0,0.816,15490,110,0.618,0.032,0.000106,0.999890
10096,710005683,Existing Customer,56,M,2,College,Single,$80K - $120K,Blue,46,...,12540.0,1696,10844.0,0.799,16518,115,0.716,0.135,0.000868,0.999130
10097,801036033,Existing Customer,31,M,0,High School,Single,$40K - $60K,Blue,25,...,4493.0,1388,3105.0,0.795,17744,104,0.763,0.309,0.000160,0.999840
10098,716644008,Attrited Customer,55,M,3,Graduate,Single,$120K +,Silver,36,...,34516.0,0,34516.0,1.007,9931,70,0.750,0.000,0.997940,0.002062
10099,709094358,Existing Customer,51,F,1,Graduate,Single,Less than $40K,Blue,41,...,8900.0,798,8102.0,0.647,16737,88,0.660,0.090,0.000180,0.999820
10100,719848008,Existing Customer,39,M,2,Graduate,Unknown,$60K - $80K,Silver,36,...,29808.0,0,29808.0,0.669,16098,128,0.684,0.000,0.000103,0.999900
10101,718372458,Existing Customer,42,M,2,Graduate,Unknown,$40K - $60K,Blue,30,...,3735.0,1723,2012.0,0.595,14501,92,0.840,0.461,0.000565,0.999440
10102,720608658,Existing Customer,33,F,1,Uneducated,Single,Less than $40K,Blue,36,...,8398.0,1875,6523.0,0.727,16706,123,0.757,0.223,0.000292,0.999710
10103,717185658,Attrited Customer,51,M,1,High School,Married,$80K - $120K,Blue,36,...,22754.0,0,22754.0,0.799,8531,77,0.791,0.000,0.997880,0.002118
10104,715474083,Existing Customer,51,M,3,Graduate,Single,$60K - $80K,Silver,36,...,29663.0,1743,27920.0,0.667,14638,93,0.722,0.059,0.000107,0.999890
10105,709646433,Attrited Customer,59,F,1,High School,Married,Less than $40K,Blue,50,...,5043.0,743,4300.0,0.805,10170,66,0.784,0.147,0.997010,0.002988
10106,717494358,Existing Customer,58,F,0,Graduate,Single,Less than $40K,Blue,48,...,4299.0,1334,2965.0,0.660,15068,123,0.685,0.310,0.000485,0.999520
10107,713924283,Attrited Customer,61,M,0,Graduate,Single,$60K - $80K,Blue,54,...,11859.0,1644,10215.0,0.866,8930,79,0.837,0.139,0.992680,0.007320
10108,714471183,Attrited Customer,47,M,4,Graduate,Divorced,$80K - $120K,Blue,39,...,17504.0,476,17028.0,0.892,10468,66,0.737,0.027,0.998160,0.001844
10109,780613758,Existing Customer,47,M,5,High School,Single,Less than $40K,Blue,35,...,4165.0,0,4165.0,0.813,17093,111,0.820,0.000,0.000896,0.999100
10110,718225683,Existing Customer,56,M,1,Graduate,Single,$80K - $120K,Silver,49,...,34516.0,1091,33425.0,0.640,15274,108,0.714,0.032,0.000097,0.999900
10111,710734308,Existing Customer,49,M,1,Graduate,Single,$60K - $80K,Blue,40,...,6481.0,1569,4912.0,0.692,15937,119,0.803,0.242,0.000284,0.999720
10112,708564858,Attrited Customer,33,M,2,College,Married,$120K +,Gold,20,...,34516.0,0,34516.0,1.004,9338,73,0.622,0.000,0.994380,0.005620
10113,713733633,Attrited Customer,27,M,0,High School,Divorced,$60K - $80K,Blue,36,...,13303.0,2517,10786.0,0.929,10219,85,0.809,0.189,0.993380,0.006620
10114,720841533,Existing Customer,29,M,0,Graduate,Married,Less than $40K,Blue,15,...,4700.0,0,4700.0,0.617,14723,96,0.655,0.000,0.000235,0.999770
10115,712210458,Existing Customer,38,M,1,Uneducated,Single,$40K - $60K,Blue,36,...,5639.0,1558,4081.0,0.614,16628,109,0.946,0.276,0.000174,0.999830
10116,714109308,Existing Customer,46,M,5,College,Single,$80K - $120K,Blue,36,...,13187.0,2241,10946.0,0.689,15354,112,0.931,0.170,0.000192,0.999810
10117,712503408,Existing Customer,57,M,2,Graduate,Married,$80K - $120K,Blue,40,...,17925.0,1909,16016.0,0.712,17498,111,0.820,0.106,0.000516,0.999480
10118,713755458,Attrited Customer,50,M,1,Unknown,Unknown,$80K - $120K,Blue,36,...,9959.0,952,9007.0,0.825,10310,63,1.100,0.096,0.998130,0.001874
10119,716893683,Attrited Customer,55,F,3,Uneducated,Single,Unknown,Blue,47,...,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172,0.996910,0.003088
10120,710841183,Existing Customer,54,M,1,High School,Single,$60K - $80K,Blue,34,...,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151,0.000038,0.999960
10121,713899383,Existing Customer,56,F,1,Graduate,Single,Less than $40K,Blue,50,...,3688.0,606,3082.0,0.570,14596,120,0.791,0.164,0.000148,0.999850
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [13]:
df.shape

(10127, 23)

In [14]:
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [9]:
df['Credit_Limit'].mean()

8631.953698034955

In [10]:
df['Credit_Limit'].mode()

0    34516.0
Name: Credit_Limit, dtype: float64

In [11]:
df['Credit_Limit'].median()

4549.0

In [19]:
df.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.159997,0.840003
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.365301,0.365301
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000420
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000099,0.999660
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000181,0.999820
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000337,0.999900
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,0.999580,0.999990

In [20]:
df.isnull()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10125,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
df.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [6]:
!unzip /content/asd.zip

Archive:  /content/asd.zip
  inflating: Naive-Bayes-Classification-Data.csv

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB